* {
    margin: 0;
    padding: 0;
}

body {
    border: 10px solid black;
}

div {
    display: flex;
    justify-content: space-evenly;
    margin: 5vh 0;
}

div img {
    width: 30%;
}